[submodule "BDCC"]
	path = BDCC
	url = https://github.com/Alexofp/BDCC
	branch = main
[submodule "Paratranz.NET"]
	path = Paratranz.NET
	url = https://github.com/Mochacola500/Paratranz.NET/
	branch = main
[submodule "BDCC-Localization-Replacer"]
	path = BDCC-Localization-Replacer
	url = https://github.com/HCPTangHY/BDCC-Localization-Replacer/
	branch = main
